<form action="/article_new/apple" method="post">
  <label for="article_title">Article:</label>
  <input type="text" id="article" name="article" />
<br>
  <label for="article_url">Url:</label>
  <input type="text" id="article_url" name="article_url" />
<br>

  <label for="source">Source:</label>
  <input type="text" id="source" name="source" />
<br>
 <label for="description">Description:</label>
  <input style="height: 75px"type="text" id="description" name="description" size="100"/>
<br>
  <input type="submit" />
</form>

