<form action="/article" method="post">
  <label for="article_title">Article:</label>
  <input type="text" id="article" name="article" />

  <input type="submit" />
</form>

<form action="/article" method="post">
  <label for="article_url">Url:</label>
  <input type="text" id="article_url" name="article_url" />

  <input type="submit" />
</form>

<form action="/article" method="post">
  <label for="source">Source:</label>
  <input type="text" id="source" name="source" />

  <input type="submit" />
</form>

